*.class
*.jar
jogl/*
Junit/*
*.idea/*
*.orig
*.pyc
*.log
out/*
Documentation/*
*.iml
*.stl
*.png
*.gif
*.svg
*.directory
*.ply
*.style
*.rej
*.aux
*.out
*.pdf
*.synctex.gz
*.toc
target/
nbactions-release-profile.xml
nb-configuration.xml
licenseInfoTestFile
Installer/*
nbactions.xml
Licenses.csv
